html {
    background-color: aliceblue;
    font-family: cursive;
    scroll-behavior: smooth;
}

header {
    background-color: aquamarine;
    font-size: 1.7rem;
}

header > a {
    border:solid mediumvioletred 1px;
    background-color: aquamarine;
    padding:.5vw;

}


main {
    width: 80vw;
    margin-left: 20vw;
}



#logo {
    width: 10%;
    height: auto;
}

.column {
    display: inline-block;
    width: 19%;
    margin: 0px;
    padding: 0px;
}

.column > h1 {
    display: inline-block;
}

p {
    margin:0px;
    padding: 0px;
}

footer{
    font-size: 1.6em;
    height: 15vh;
    margin-top: 27px;
}

footer > a {
    padding-left: 78pt;
    margin-left: 13pc;

}